<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /  # Root of your app

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>