*,
*:before,
*:after {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #22222A;
}

.full-screen {
  height: 100vh;
  width: 100%;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.header h1 {
  color: #FF36F7;
  font-size: 5em;
  -webkit-text-stroke: 3px rgb(255, 0, 115);

}

.header h1:hover {
  font-weight: bold;
}

.principal-nav ul {
  border-top: 3px solid #FFB039;
  padding-top: 10px;
}

.principal-nav a {
  color: rgb(17, 17, 17);
  -webkit-text-stroke: 1px rgb(225, 180, 0);
  font-size: 1.4em;
}

.principal-nav a:hover {
  color: rgb(17, 17, 17);
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(225, 0, 161);
}

.section-auth form {
  background: radial-gradient(circle at 100% 100%, #22222A 0, #22222A 2px, transparent 2px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #22222A 0, #22222A 2px, transparent 2px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #22222A 0, #22222A 2px, transparent 2px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #22222A 0, #22222A 2px, transparent 2px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#22222A, #22222A) 50% 50%/calc(100% - 12px) calc(100% - 16px) no-repeat,
    linear-gradient(#22222A, #22222A) 50% 50%/calc(100% - 16px) calc(100% - 12px) no-repeat,
    linear-gradient(90deg, #ff2626 0%, #8e48e0 100%);
  border-radius: 8px;
  padding: 2em;
  border-radius: 8px;
}

section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:650px) {
  img {
    max-width: 100%;
    height: auto;
  }

  section article {
    text-align: start;
    max-width: 80%;
    margin: 1em;
  }
}

.section-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-blog article {
  border: 0px;
  background: radial-gradient(circle at 100% 100%, #22222a 0, #22222a 2px, transparent 2px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #22222a 0, #22222a 2px, transparent 2px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #22222a 0, #22222a 2px, transparent 2px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #22222a 0, #22222a 2px, transparent 2px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#22222a, #22222a) 50% 50%/calc(100% - 12px) calc(100% - 16px) no-repeat,
    linear-gradient(#22222a, #22222a) 50% 50%/calc(100% - 16px) calc(100% - 12px) no-repeat,
    linear-gradient(90deg, #ff2626 0%, rgba(240, 206, 0, 1) 0%, #00bec8 100%);
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  width: 600px;
}

.section-blog article img {
  height: 100%;
  object-fit: cover;
}

.section-show-post {
  min-height: 80vh;
  width: 100%;
  margin: 2em 0;
}

.section-show-post article {
  text-align: start;
  max-width: 600px;
}

.section-auth {
  color: white;
  height: 80vh;
}

.section-auth article {
  width: 50%;
}

@media only screen and (max-width:650px) {
  .section-auth article {
    width: 80%;
  }
}

.section-admin {
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.section-admin article {
  margin-top: 3em;
  width: 100%;
  max-width: 800px;
}

.section-write {
  margin: 3em 0;
}

.section-write article {
  max-width: 50%;
}

@media only screen and (max-width:650px) {
  .section-write article {
    max-width: 90%;
  }
}

.footer-app {
  height: 10vh;
  margin-top: 1em;
  display: flex;
  border-top: 1px solid #FFB039;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-app p {
  margin: 0;
}

.footer-app a {
  color:#FF36F7;
}